#main{
    width: 100vw;
    height: 100vh;
    background: url('../src/assets/images/background-pattern-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}